@font-face {
    font-family: FF;
    src: url("./aften_screen.woff");
  }
  * {
      box-sizing: border-box;
    }
    
    html,
    body {
      font-family: FF;
      color: black;
    }
  
    ::-webkit-scrollbar {
        width: 7px;  
        z-index: 1;
        
      }
      ::selection {
        background: rgb(216, 54, 26);
      }
      ::-webkit-scrollbar-track {
        background: #DADADA;   /* track color */
      }
      
      ::-webkit-scrollbar-thumb {
        background: #a39f9fd1;       /* thumb color */
        border-radius: 100px;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #888;       /* on hover */
      }
    

   
  
    @media (max-width: 500px) {
      * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
      }
       .part1{
        position: absolute;
        padding-top: 1.5vh;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
      .part1 p{
        font-size: 3.5vmax;
        white-space: nowrap;
      }
       .part1 img {
        height: 20vh;
      }
      .part2{
        padding-top: 30vh;
      }
      .part2 div {
        gap: 0;
        width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
      }
      .part2 p{
        font-size: 2.5vmax;
      }
      
      
    }
  
    @media (min-width: 500px) and (max-width: 1500px) {
        * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
          }
           .part1{
            position: absolute;
            padding-top: 1.5vh;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
          }
          .part1 p{
            font-size: 3.5vmax;
            white-space: nowrap;
          }
           .part1 img {
            height: 20vh;
          }
          .part2{
            padding-top: 30vh;
          }
          .part2 div {
            gap: 0;
            width: 100%;
            padding-left: 1vw;
            padding-right: 1vw;
          }
          .part2 p{
            font-size: 2.5vmax;
          }
          
    }